:root {
  --bg-c: rgb(250, 237, 221);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-c);
  overflow-y: scroll;
  box-sizing: border-box;
}

main > * {
  width: 70vw;
}

div.login {
  position: absolute;
  width: 100vw;
  height: 70vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 100;
}

div.login > * {
  width: 10rem;
  margin: 0.25rem 0;
}

div.top {
  position: fixed;
  display: flex;
  justify-content: space-between;align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 0.75rem;
  z-index: 99;
  width: 70vw;
  box-sizing: border-box;
}

div.top > div > input.search {
  color: black;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}



div.top > div > * {
  margin: 0 0.5rem;
}

div.newevent {
  height: auto;
  width: 15rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

div.newevent > button.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
}

div.newevent > button.new-event {
  margin-top: 0.75rem;
  background-color: transparent;
}

div.newevent > div > p {
  margin: 0.5rem 0;
}

div.newevent > div > * {
  margin-right: 0.5rem;
}

button {
  background-color: var(--bg-c);
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  padding: 0.25rem 0.3rem;
  cursor: pointer;
}

div.event-list {
  position: fixed;
  top:0;
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  box-sizing: border-box;
}

div.event-list > * {
  height: fit-content;
  width: fit-content;
}

div.card {
  color: black;
  background-color: #FDF9F3;
  height: 10rem;
  width: 7rem;
  padding: 0.75rem;
  margin: 0.25rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.search-popup {
  height: 70vh;
  width: 50vw;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
}

div.search-popup > input {
  border-radius: 0.5rem;
  margin: 0.5rem;
  border: 0.1rem solid grey;
}

div.searchResult {
  display: flex;
  flex-wrap: wrap;
}

div.event {
  box-sizing: border-box;
}

div.event > div.top > span {
  display: flex;
  align-items: center;
}

div.event > div.top > span > * {
  margin: 0 0.25rem;
}

div.event > div.eventcontent {
  margin-top: 4.5rem;
  box-sizing: border-box;
  display: flex;
}

div.event > div.eventcontent > div.left {
  background-color: rgba(255, 255, 255, 0.658);
  width: 10rem;
  padding: 2rem 0.75rem;
  border-radius: 1rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.event > div.eventcontent > div.left > * {
  margin-top: 0.5rem;
}

div.event > div.eventcontent > div.right {
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.658);
  flex-grow: 1;
  border-radius: 1rem;
  padding: 0.75rem;
  overflow-x: scroll;
}

span#time-notation {
  background-color: rgb(138, 138, 240);
  width: fit-content;
  padding: 0.1rem 0.25rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
}

div.commentsection {
  width: 70vw;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

div.inputcomment {
  background-color: rgba(255, 255, 255, 0.658);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.75rem;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
}

div.inputcomment > span {
  margin-right: 0.5rem;
}

div.inputcomment > input {
  flex-grow: 1;
  margin-right: 0.5rem;
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  height: 1.5rem;
}

div.commentItem {
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 1rem;
  margin: 0.25rem 0rem;
}

div.commentItem > span {
  font-size: smaller;
}

div.commentItem > div#commentContent {
  margin-top: 0.25rem;
}

div.timetable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

div.timetable > div.timeColumn {
  background-color: white;
  border-radius: 1rem;
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  width: 100%;
  overflow-x: visible;
}

div.timetable > div.timeColumn > span#left {
  width: fit-content;
}

div.timetable > div.timeColumn > span#left > p#date {
  width: 7rem;
  margin: 0.5rem 0.5rem;
  
}

div.timetable > div.timeColumn > span#right {
  display: flex;
  overflow-x: auto;
  box-sizing: border-box;
}

div.timetable > div.timeColumn > span#right> span.timeCell {
  width: 2rem;
  display: flex;
  align-items: center;
  color: transparent;
  border: .1rem solid grey;
  box-sizing: border-box;
  cursor: pointer;
}

div.timetable > div.timeColumn > span#right > span.timeCell.notation {
  color: black;
  border-color: transparent;
  transform: translateX(-0.45rem);
}

div.timetable > div.timeColumn > span#right > span.timeCell.disable {
  background-color: grey;
  cursor:none;
}

div.timetable > div.timeColumn > span#right > span.timeCell.selected {
  border: 0.15rem solid red;
}

span.timeCell.p1 {
  background-color: rgb(211, 255, 211);
  color: transparent;
}

span.timeCell.p2 {
  background-color: rgb(136, 164, 113);
  color: transparent;
}

span.timeCell.p3 {
  background-color: rgb(85, 128, 85);
  color: transparent;
}

span.timeCell.p4 {
  background-color: rgb(43, 71, 43);
  color: transparent;
}

span.timeCell.p5 {
  background-color: rgb(14, 27, 14);
  color: transparent;
}

div.legend {
  margin: 0.5rem 0;
  border-radius: 1rem;
  padding: 0.5rem;
}

div.legend > span {
  padding: 0 0.5rem;
  box-sizing: border-box;

}

div.legend > span.timeCell.disable {
  color: transparent;
  padding: 0 0.5rem;
  box-sizing: border-box;
  background-color: grey;
}